body {
    background-color: aliceblue;
}

.container-fluid {
    padding: 0px;
}

#shoppingList li {
    cursor: pointer;
}

.markDone {
    text-decoration: line-through;
}

.git-user, .git-user:hover, .git-user:visited {
    text-decoration: unset;
    color: black;
    font-weight: bold;
}